*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    min-height: 80px;
    background: linear-gradient(
        90deg,
        rgb(235, 190, 84,1)0%,
        rgb(81, 168, 180,1)70%
    );
}


.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;  /*para dejar una separacion*/

}

.logo{
    font-size: 25px;
    color:rgb(5, 5, 5);
    text-transform: uppercase;
    font-weight: bold;

}

.menu .navbar ul li {
    position: relative;
    float: left; /*para que los enlaces se coloquen a la izquierda*/
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color:rgb(3, 4, 4);
    display: block; 
    font-weight: bold;
} /*   */



.menu .navbar ul li a:hover {
    color: #A4A4A4;
}



#menu{
    display: none; /* para ocultar el imput  */
}




.menu-icono{
    width: 25px;  /* el tamaño   */
}



.menu label {
    cursor: pointer; /* cambia a una mano */
    display: none;  /* desaparece  */
}




h1{
    margin: 80px 0 0 350px;
}



.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: right;
}


.imagen{
    width: 250px;
    border:5px solid  rgb(81, 168, 180,1);
}



div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(3, 4, 4);
    float: left;
    width: 250px;
}

div.galeria img{
    width: 100%;
    height: auto;
}

div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie{
    text-align:left;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
}



.letra {
    margin-top: 100px;
    margin-left: 100px;
    background-color:  rgb(235, 190, 84,1);
    padding: 10px;
    width: 350px;
} 

